{% extends "base_no_nav.html" %}
{% block content %}
    <form action="{{ url_for('edit') }}", method="post">
        <br>
        <div class="input-group">
            <input type = "text" name = "manga" placeholder="Name" class="form-control" value="{{ info['name'] }}">
        </div>
        <br>
        <div class="input-group">
            <input type = "text" name = "img" placeholder="Image" class="form-control" value="{{ info['img'] }}">
            <span class="input-group-text">Leave blank if no picture</span>
        </div>
        <br>
        <div class="input-group">
            <input type = "text" name = "vol" placeholder="volume number" class="form-control" value="{{ info['vol'] }}">
        </div>
        <br>
        <div class="input-group">
            <input type = "text" name = "vol_max" placeholder="volume number max" class="form-control" value="{{ info['vol_max'] }}">
            <span class="input-group-text">Leave blank if not finished</span>
        </div>
        <br>
        <button type="submit" class="btn btn-primary" name = "ID" value="{{ info['ID'] }}">Submit</button>
    </form>
{% endblock %}