{% extends "base.html" %}
{% block content %}
    <h1>{{ name }}</h1>
    <form action="{{ url_for('add') }}", method="get">
        <button type="submit" class="btn btn-primary">Edit</button>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Volume count</th>
            <th>Volume max</th>
        </tr>
        </thead>
        {% for i in table %}
            <tbody>
                <tr>
                    <th>{{ i['name'] }}</th>
                    <th>{{ i['vol'] }}/{{ i['vol_max'] }}</th>
                </tr>
            </tbody>
        {% endfor %}
    </table>
{% endblock %}