{% extends "base.html" %}
{% block content %}
    <h1>{{ name }}</h1>
    <form action="{{ url_for('add') }}", method="get">
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
    <div class="form-group pull-right">
        <input type="text" class="search form-control" placeholder="What you looking for?">
    </div>
    <table class="table table-striped" id="userTbl">
        <thead>
        <tr>
            <th>Name</th>
            <th>Volume</th>
            <th>Edit</th>
        </tr>
        </thead>
        {% for i in table %}
            <tbody>
                <tr>
                    <th>{{ i['name'] }}</th>
                    {% if i['vol_max'] == 0 %}
                        <th>{{ i['vol'] }}/-</th>
                    {% else %}
                        <th>{{ i['vol'] }}/{{ i['vol_max'] }}</th>
                    {% endif %}
                    <th>
                        <form action="{{ url_for('edit') }}" method="get">
                            <button type="submit" class="btn btn-link" name = "test" value="{{ i['ID'] }}">link</button>
                        </form>
                    </th>
                </tr>
            </tbody>
        {% endfor %}
    </table>
{% endblock %}